<div class="mb-5 mt-5 gegenpartei">
    <span class="p-float-label">
      <p-dropdown [options]="gegenparteiList"
                  [formControl]="gegenpartei"
                  placeholder="Wähle Gegenpartei"
                  optionLabel="name"
                  id="gegenpartei"></p-dropdown>
      <label for="gegenpartei">Gegenpartei</label>
    </span>

  <app-input-error-message *ngIf="gegenpartei.touched && !gegenpartei.value">
    Bitte Gegenpartei auswählen
  </app-input-error-message>
</div>

<p-pickList [source]="sourceProducts"
            [target]="targetProducts"
            sourceHeader="Verfügbar"
            targetHeader="Ausgewählt"
            [sourceStyle]="{'height':'400px'}"
            [targetStyle]="{'height':'400px'}"
            filterBy="produkt"
            [disabled]="!gegenpartei.value"
            sourceFilterPlaceholder="Suche nach Produkt"
            targetFilterPlaceholder="Suche nach Produkt">
  <ng-template let-product pTemplate="item">
    <div class="product-item">
      <div class="formgrid grid p-fluid align-items-center">
        <div class="field mb-0 col-12 xl:col-5">
          <p-inputNumber inputId="anzahl"
                         [ngModel]="product.anzahl"
                         (onInput)="onInputAnzahl(product, $event)"></p-inputNumber>

        </div>
        <div class="field mb-0 col-12 xl:col-1">
          <p [style]="'font-size:1.25rem'">x</p>
        </div>
        <div class="field mb-0 col-12 xl:col-2">
          <h4 class="m-0">{{product.produkt}} {{product.kategorie}}</h4>
        </div>
        <div class="field mb-0 col-12 xl:col-4" pTooltip="{{product.anzahl * product.wert | currency: 'CHF'}}">
          <p class="total">Total: {{product.anzahl * product.wert | currency: 'CHF'}}</p>
        </div>

      </div>

      <app-input-error-message *ngIf="product.anzahl * product.wert > 100000000">
        Das Total übersteigt 100 Mio.
      </app-input-error-message>
    </div>
  </ng-template>
</p-pickList>

<div class="warenkorb mt-5">
  <button pButton
          pRipple
          type="button"
          label="Warenkorb öffnen"
          class="p-button-secondary mr-4"
          [routerLink]="'/auftragserfassung/warenkorb'"
          [style]="'height:3rem'"
          icon="pi pi-external-link" iconPos="left"></button>
  <button pButton
          pRipple
          type="button"
          label="In den Warenkorb"
          [style]="'height:3rem'"
          (click)="addToShoppingCart()"
          [disabled]="isAddToShoppingCartEnabled()"
          icon="pi pi-shopping-cart" iconPos="left"></button>
</div>



