
.actions {
  display: flex;
  flex-wrap: wrap;

  button {
    max-width: 25rem;
    height: 5rem;
    margin-top: 1rem;
    margin-right: 3rem;
  }
}

.subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


