app-input-error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.warenkorb {
  display: flex;
  justify-content: flex-end;
}
