<ng-container *ngIf="auftrag">
  <div class="formgrid grid mt-5">

    <div class="field col-2 xl:col-1">
      <label for="id">ID</label>
      <h4 id="id" class="m-0">{{auftrag.id}}</h4>
    </div>

    <div class="field col-4 xl:col-2">
      <label for="createDate">Eingangsdatum</label>
      <h4 id="createDate" class="m-0">{{auftrag.createDate | date:'dd.MM.yyyy HH:mm:ss'}}</h4>
    </div>

    <div class="field col-2 xl:col-1">
      <label for="typ">Typ</label>
      <h4 id="typ" class="m-0">{{auftrag.typ}}</h4>
    </div>

    <div class="field col-4 xl:col-3">
      <label for="gegenpartei">Gegenpartei</label>
      <h4 id="gegenpartei" class="m-0">{{auftrag.gegenpartei.name}}</h4>
    </div>

    <div class="field col-4 xl:col-3">
      <label for="wert">Auftragswert</label>
      <h4 id="wert" class="m-0">{{auftrag.wert | currency:'CHF'}}</h4>
    </div>

    <div class="field col-2 xl:col-2">
      <label for="status">Status</label>
      <h4 id="status" class="m-0">{{getStatus(auftrag.status)}}</h4>
    </div>
  </div>
</ng-container>
