<h1>Warenausgang</h1>

<p-card>
  <div class="header">
      <span class="p-input-icon-right mr-5 search">
    <i class="pi pi-search"></i>
    <p-inputNumber inputId="auftragId"
                   placeholder="Auftrag ID"
                   [formControl]="suche"
                   (onInput)="openAuftrag($event.value)"></p-inputNumber>
  </span>
    <div>
      <button *ngIf="auftrag"
              pButton
              pRipple
              pTooltip="PDF generieren"
              type="button"
              class="mr-2"
              icon="pi pi-file-pdf" iconPos="left"></button>
      <button *ngIf="auftrag"
              pButton
              pRipple
              pTooltip="Zurück zur Auftragsliste"
              type="button"
              [routerLink]="'/auftragsverwaltung/auftragsliste'"
              icon="pi pi-arrow-left" iconPos="left"></button>
    </div>
  </div>

  <div *ngIf="auftrag; else empty">
    <app-auftragsliste-details [auftrag]="auftrag"></app-auftragsliste-details>

    <div class="mt-4">
      <p-accordion [multiple]="true">
        <p-accordionTab [(selected)]="activeState[0]">
          <ng-template pTemplate="header">
            <ng-container *ngIf="!activeState[0]">Rüsten</ng-container>
          </ng-template>
          <app-ruesten [data]="auftrag" (save$)="save($event)"></app-ruesten>
        </p-accordionTab>

        <p-accordionTab [(selected)]="activeState[1]">
          <ng-template pTemplate="header">
            <ng-container *ngIf="!activeState[1]">Verpacken</ng-container>
          </ng-template>
          <app-verpacken [data]="auftrag" (save$)="save($event)"></app-verpacken>
        </p-accordionTab>

        <p-accordionTab [(selected)]="activeState[2]">
          <ng-template pTemplate="header">
            <ng-container *ngIf="!activeState[2]">Versenden</ng-container>
          </ng-template>
          <app-versenden [data]="auftrag" (save$)="save($event)"></app-versenden>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>

  <ng-template #empty>
    <div *ngIf="suche.touched">
      <h3>Kein Auftrag mit gesuchter ID gefunden!</h3>
    </div>
  </ng-template>
</p-card>
