:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  z-index: 900;

  .logo {
    display: flex;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 0.8rem;

    h1 {
      margin-top: 0.03em;
    }
  }

  .container {
    display: flex;
    align-items: center;

    .shopping {
      cursor: pointer;
    }

    .profil {
      display: flex;
      align-items: center;
      cursor: pointer;

      i {
        font-size: 1.5rem;
      }
    }
  }
}
