<div class="logo" [routerLink]="'/home'">
  <h1 style="color:rgb(255, 85, 85)">R</h1>
  <h1 style="color:#151515">-</h1>
  <h1 style="color:rgb(102, 154, 57)">F</h1>
  <h1 style="color:rgb(102, 154, 57)">I</h1>
  <h1 style="color:rgb(102, 154, 57)">N</h1>
  <h1 style="color:rgb(94, 122, 135) ">L</h1>
  <h1 style="color:rgb(94, 122, 135) ">O</h1>
  <h1 style="color:rgb(94, 122, 135) ">K</h1>
</div>

<div class="container" *ngIf="$user | async as user else nonUser">
  <div class="shopping" [pTooltip]="'Warenkorb öffnen'" [routerLink]="'auftragserfassung/warenkorb'">
    <button pButton type="button" class="p-button-text p-button-secondary mr-5"
            icon="pi pi-shopping-cart"
            iconPos="left" label="{{shoppingCardSize$ | async | number}}">
    </button>
  </div>

  <span *ngIf="$user | async as user" class="mr-5">
    <app-search></app-search>
  </span>

  <ng-container>
    <div class="profil">
      <button [routerLink]="'user/profil'" pButton type="button" pTooltip="Profil öffnen"
              class="p-button-text p-button-secondary mr-3" icon="pi pi-user"
              iconPos="left" label="{{user.name}}">
      </button>
    </div>
  </ng-container>
</div>

<ng-template #nonUser>
  <div class="container profi">
    <button [routerLink]="'anmelden'" pButton type="button" pTooltip="Anmeldung öffnen"
            class="p-button-text p-button-secondary mr-3" icon="pi pi-user"
            iconPos="left" label="Anmelden">
    </button>
  </div>
</ng-template>
