:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  z-index: 900;

  .logo {
    display: flex;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 0.8rem;

    h1 {
      margin-top: 0.03em;
    }
    //box-shadow: rgb(94, 122, 135) 0 2px 0 0, rgb(102, 154, 57) 0 3px 0 0, rgb(237, 186, 47) 0 5px 0 0, rgb(203, 47, 48) 0 7px 0 0, rgb(255, 85, 85) 0 8px 0;
  }

  .container {
    display: flex;
    align-items: center;

    .search {
      input {
        width: 20rem;
      }
    }

    .shopping {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      align-items: center;

      i {
        font-size: 1.5rem;
      }
    }

    .profil {
      display: flex;
      align-items: center;
      cursor: pointer;

      i {
        font-size: 1.5rem;
      }
    }
  }
}
