
<ng-container *ngIf="itemList">
  <p-table [value]="itemList"
           [paginator]="true" [rows]="10"
           [showCurrentPageReport]="true"
           responsiveLayout="scroll"
           [responsive]="true"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th>ID</th>
        <th>Eingangsdatum</th>
        <th>In Bearbeitung</th>
        <th>Status</th>
        <th>Typ</th>
        <th>Auftragswert</th>
        <th>Gegenpartei</th>
      </tr>
      <tr>
        <th></th>
        <th><p-columnFilter type="text" field="id"></p-columnFilter></th>
        <th><p-columnFilter type="date" field="createDate" display="menu"></p-columnFilter></th>
        <th><p-columnFilter type="boolean" field="inBearbeitung" display="menu"></p-columnFilter></th>
        <th><p-columnFilter type="text" field="status"></p-columnFilter></th>
        <th><p-columnFilter type="text" field="typ"></p-columnFilter></th>
        <th><p-columnFilter type="numeric" field="wert"></p-columnFilter></th>
        <th><p-columnFilter type="text" field="gegenpartei.name"></p-columnFilter></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-auftrag>
      <tr>
        <td>
          <i *ngIf="auftrag.typ === 'KAUF'" [class]="auftrag.status === 'EINGELAGERT' ? 'pi pi-check' : 'pi pi-pencil'" pTooltip="Auftrag öffnen" [routerLink]="['../wareneingang', auftrag.id]"></i>
          <i *ngIf="auftrag.typ === 'VERKAUF'" class="pi pi-pencil" pTooltip="Auftrag öffnen" [routerLink]="['../warenausgang', auftrag.id]"></i>
        </td>
        <td>{{auftrag.id}}</td>
        <td>{{auftrag.createDate | date: 'dd.MM.yyyy  HH:mm:ss'}}</td>
        <td>{{auftrag.inBearbeitung ? 'Ja' : 'Nein'}}</td>
        <td>{{getStatus(auftrag.status)}}</td>
        <td>{{auftrag.typ}}</td>
        <td>{{auftrag.wert | currency:'CHF'}}</td>
        <td>{{auftrag.gegenpartei.name}}</td>
      </tr>
    </ng-template>
  </p-table>

</ng-container>
