<ng-container *ngIf="itemList">
  <p-table [value]="itemList"
           [paginator]="true" [rows]="10"
           [showCurrentPageReport]="true"
           responsiveLayout="scroll"
           [responsive]="true"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th>ID</th>
        <th>Typ</th>
        <th>Eingangsdatum</th>
        <th>In Bearbeitung</th>
        <th>Status</th>
        <th>Auftragswert</th>
        <th>Gegenpartei</th>
      </tr>
      <tr>
        <th></th>
        <th>
          <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter field="typ" matchMode="equals">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="typOptions" (onChange)="filter($event.value)"
                          placeholder="Alle">
                <ng-template let-option pTemplate="item">
                  <span>{{option.label}}</span>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="date" field="createDate" display="menu"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="boolean" field="inBearbeitung" display="menu"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter field="status" matchMode="equals">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown appendTo="body" [ngModel]="value" [options]="statusOptions" (onChange)="filter($event.value)"
                          placeholder="Alle">
                <ng-template let-option pTemplate="item">
                  <span>{{option.label}}</span>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="numeric" field="wert" display="menu"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="gegenpartei.name" display="menu"></p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-auftrag>
      <tr>
        <td [class]="auftrag.typ === 'VERKAUF' ? 'warenausgang' : 'warenaeingang'">
          <i *ngIf="auftrag.typ === 'KAUF'" [class]="auftrag.status === 'EINGELAGERT' ? 'pi pi-check' : 'pi pi-pencil'"
             pTooltip="Auftrag öffnen" [routerLink]="['../wareneingang', auftrag.id]"></i>
          <i *ngIf="auftrag.typ === 'VERKAUF'"
             [class]="auftrag.status === 'VERSENDET' ? 'pi pi-check' : 'pi pi-pencil'" pTooltip="Auftrag öffnen"
             [routerLink]="['../warenausgang', auftrag.id]"></i>
        </td>
        <td [class]="auftrag.typ === 'VERKAUF' ? 'warenausgang' : 'warenaeingang'">{{auftrag.id}}</td>
        <ng-container *ngIf="auftrag.typ === 'KAUF'; else warenausgang">
          <td [class]="'warenaeingang'">
            <p-tag severity="info" value="Wareneingang"></p-tag>
          </td>
        </ng-container>
        <ng-template #warenausgang>
          <td [class]="'warenausgang'">
            <p-tag severity="warning" value="Wareneingang"></p-tag>
          </td>
        </ng-template>
        <td
          [class]="auftrag.typ === 'VERKAUF' ? 'warenausgang' : 'warenaeingang'">{{auftrag.createDate | date: 'dd.MM.yyyy  HH:mm:ss'}}</td>
        <td
          [class]="auftrag.typ === 'VERKAUF' ? 'warenausgang' : 'warenaeingang'">{{auftrag.inBearbeitung ? 'Ja' : 'Nein'}}</td>
        <td [class]="auftrag.typ === 'VERKAUF' ? 'warenausgang' : 'warenaeingang'">{{getStatus(auftrag.status)}}</td>
        <td
          [class]="auftrag.typ === 'VERKAUF' ? 'warenausgang' : 'warenaeingang'">{{auftrag.wert | currency:'CHF'}}</td>
        <td [class]="auftrag.typ === 'VERKAUF' ? 'warenausgang' : 'warenaeingang'">{{auftrag.gegenpartei.name}}</td>
      </tr>
    </ng-template>
  </p-table>

</ng-container>
