<div class="mb-4">
  <app-auftrags-suche></app-auftrags-suche>
</div>

<ng-container *ngIf="itemList">
  <p-table [value]="itemList"
           [paginator]="true"
           [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th>ID</th>
        <th>Typ</th>
        <th>Eingangsdatum</th>
        <th>In Bearbeitung</th>
        <th>Status</th>
        <th>Auftragswert</th>
        <th>Gegenpartei</th>
      </tr>
      <tr>
        <th></th>
        <th>
          <p-columnFilter type="text" field="id" display="menu"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter field="typ" matchMode="equals">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown [ngModel]="value" [options]="typOptions" (onChange)="filter($event.value)"
                          placeholder="Alle">
                <ng-template let-option pTemplate="item">
                  <span>{{option.label}}</span>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="date" field="createDate" display="menu"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="boolean" field="inBearbeitung" display="menu"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter field="status" matchMode="equals">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-dropdown appendTo="body" [ngModel]="value" [options]="statusOptions" (onChange)="filter($event.value)"
                          placeholder="Alle">
                <ng-template let-option pTemplate="item">
                  <span>{{option.label}}</span>
                </ng-template>
              </p-dropdown>
            </ng-template>
          </p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="numeric" field="wert" display="menu"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="gegenpartei.name" display="menu"></p-columnFilter>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-auftrag>
      <tr *ngIf="(mobile$ | async) === false; else mobile">
        <td [class]="auftrag.typ === 'VERKAUF' ? 'warenausgang' : 'wareneingang'">
          <ng-container *ngIf="auftrag.typ === 'KAUF'">
            <button pButton
                    pRipple
                    type="button"
                    [icon]="auftrag.status === 'EINGELAGERT' ? 'pi pi-check' : 'pi pi-pencil'"
                    class="mr-4 p-button-text p-button-raised"
                    [routerLink]="['../wareneingang', auftrag.id]"></button>
          </ng-container>
          <ng-container *ngIf="auftrag.typ === 'VERKAUF'">
            <button pButton
                    pRipple
                    type="button"
                    [icon]="auftrag.status === 'VERSENDET' ? 'pi pi-check' : 'pi pi-pencil'"
                    class="mr-4 p-button-text p-button-raised"
                    [routerLink]="['../warenausgang', auftrag.id]"></button>
          </ng-container>
        </td>
        <td [class]="auftrag.typ === 'VERKAUF' ? 'warenausgang' : 'wareneingang'">{{auftrag.id}}</td>
        <ng-container *ngIf="auftrag.typ === 'KAUF'; else warenausgang">
          <td [class]="'wareneingang'">
            <p-tag severity="info" value="Wareneingang"></p-tag>
          </td>
        </ng-container>
        <ng-template #warenausgang>
          <td [class]="'warenausgang'">
            <p-tag severity="warning" value="Warenausgang"></p-tag>
          </td>
        </ng-template>
        <td
          [class]="auftrag.typ === 'VERKAUF' ? 'warenausgang' : 'wareneingang'">{{auftrag.createDate | date: 'dd.MM.yyyy  HH:mm:ss'}}</td>
        <td
          [class]="auftrag.typ === 'VERKAUF' ? 'warenausgang' : 'wareneingang'">{{auftrag.inBearbeitung ? 'Ja' : 'Nein'}}</td>
        <td [class]="auftrag.typ === 'VERKAUF' ? 'warenausgang' : 'wareneingang'">{{getStatus(auftrag.status)}}</td>
        <td
          [class]="auftrag.typ === 'VERKAUF' ? 'warenausgang' : 'wareneingang'">{{auftrag.wert | currency:'CHF'}}</td>
        <td [class]="auftrag.typ === 'VERKAUF' ? 'warenausgang' : 'wareneingang'">{{auftrag.gegenpartei.name}}</td>
      </tr>


      <ng-template #mobile>
        <tr>
          <td [class]="auftrag.typ === 'VERKAUF' ? 'warenausgang' : 'wareneingang'">
            <ng-container *ngIf="auftrag.typ === 'KAUF'">
              <button pButton
                      pRipple
                      type="button"
                      [icon]="auftrag.status === 'EINGELAGERT' ? 'pi pi-check' : 'pi pi-pencil'"
                      class="mr-4 p-button-text p-button-raised"
                      [routerLink]="['../wareneingang', auftrag.id]"></button>
            </ng-container>
            <ng-container *ngIf="auftrag.typ === 'VERKAUF'">
              <button pButton
                      pRipple
                      type="button"
                      [icon]="auftrag.status === 'VERSENDET' ? 'pi pi-check' : 'pi pi-pencil'"
                      class="mr-4 p-button-text p-button-raised"
                      [routerLink]="['../warenausgang', auftrag.id]"></button>
            </ng-container>
          </td>
          <td [class]="auftrag.typ === 'VERKAUF' ? 'warenausgang' : 'wareneingang'" class="pt-0 pb-2">
            <div>
              <p class="label m-0">Anzahl</p>
              {{auftrag.id}}
            </div>
          </td>
          <ng-container *ngIf="auftrag.typ === 'KAUF'; else warenausgang">
            <td [class]="'wareneingang'" class="pt-1 pb-0">
              <div>
                <p class="label m-0">Typ</p>
                <p-tag severity="info" value="Wareneingang"></p-tag>
              </div>
            </td>
          </ng-container>
          <ng-template #warenausgang>
            <td [class]="'warenausgang'" class="pt-1 pb-0">
              <div>
                <p class="label m-0">Typ</p>
                <p-tag severity="warning" value="Warenausgang"></p-tag>
              </div>
            </td>
          </ng-template>

          <td [class]="auftrag.typ === 'VERKAUF' ? 'warenausgang' : 'wareneingang'">
            <div>
              <p class="label m-0">Eingangsdatum</p>
              {{auftrag.createDate | date: 'dd.MM.yyyy  HH:mm:ss'}}
            </div>
          </td>
          <td [class]="auftrag.typ === 'VERKAUF' ? 'warenausgang' : 'wareneingang'" class="pt-1">
            <div>
              <p class="label m-0">In Bearbeitung</p>
              {{auftrag.inBearbeitung ? 'Ja' : 'Nein'}}
            </div>
          </td>
          <td [class]="auftrag.typ === 'VERKAUF' ? 'warenausgang' : 'wareneingang'" class="pt-1">
            <div>
              <p class="label m-0">Status</p>
              {{getStatus(auftrag.status)}}
            </div>
          </td>
          <td [class]="auftrag.typ === 'VERKAUF' ? 'warenausgang' : 'wareneingang'" class="pt-1">
            <div>
              <p class="label m-0">Auftragswert</p>
              {{auftrag.wert | currency:'CHF'}}
            </div>
          </td>
          <td [class]="auftrag.typ === 'VERKAUF' ? 'warenausgang' : 'wareneingang'" class="pt-1 pb-5">
            <div>
              <p class="label m-0">Gegenpartei</p>
              {{auftrag.gegenpartei.name}}
            </div>
          </td>
        </tr>


      </ng-template>
    </ng-template>
  </p-table>

</ng-container>
