<h1>Warenkorb</h1>

<p-card *ngIf="(shoppingCartBuy$ | async).length > 0 || (shoppingCartSell$ | async).length > 0; else emptyOrSend">
  <div>
    <p-fieldset legend="Kauf" [toggleable]="true" *ngIf="shoppingCartBuy$ | async as productList">
      <app-warenkorb-details *ngIf="productList.length > 0; else emptyBuy"
                             [productList]="productList"
                             (remove$)="removeFromShoppingCartBuy($event)"></app-warenkorb-details>
    </p-fieldset>
  </div>

  <div class="mt-5">
    <p-fieldset legend="Verkauf" [toggleable]="true" class="mt-5" *ngIf="shoppingCartSell$ | async as productList">
      <app-warenkorb-details *ngIf="productList.length > 0; else emptySell"
                             [productList]="productList"
                             (remove$)="removeFromShoppingCartSell($event)"></app-warenkorb-details>
    </p-fieldset>
  </div>

  <div class="actions mt-5">
    <button pButton
            pRipple
            type="button"
            label="Einkauf öffnen"
            class="p-button-secondary"
            [routerLink]="'/auftragserfassung/einkaufen'"
            icon="pi pi-list" iconPos="left"></button>
    <button pButton
            pRipple
            type="button"
            label="Abschicken"
            (click)="sendProducts()"
            [disabled]="(shoppingCartBuy$ | async).length === 0 && (shoppingCartSell$ | async).length === 0"
            icon="pi pi-send" iconPos="left"></button>
  </div>

  <ng-template #emptyBuy>
    Es wurden keine Produkte hinzugefügt.
  </ng-template>
  <ng-template #emptySell>
    Es wurden keine Produkte hinzugefügt.
  </ng-template>
</p-card>

<ng-template #emptyOrSend>
  <p-card>
    <div class="card">
      <ng-container *ngIf="send; else empty">
        <h2>Vielen Dank!</h2>
        <h4>Ihre Bestellung wurde erfolgreich aufgegeben. Zurück zum Einkauf?</h4>
      </ng-container>

      <ng-template #empty>
        <h2>Warenkorb ist leer..</h2>
      </ng-template>

      <button pButton
              pRipple
              type="button"
              label="Einkauf öffnen"
              class="mt-3"
              [style]="'height:3rem'"
              [routerLink]="'/auftragserfassung/einkaufen'"
              icon="pi pi-list" iconPos="left"></button>
    </div>
  </p-card>
</ng-template>
