<h1>Warenkorb</h1>

<div>
  <p-fieldset legend="Kauf" [toggleable]="true" *ngIf="shoppingCartBuy$ | async as productList">
    <app-warenkorb-details [productList]="productList" (remove$)="removeFromShoppingCartBuy($event)"></app-warenkorb-details>
  </p-fieldset>
</div>

<div class="mt-5">
  <p-fieldset legend="Verkauf" [toggleable]="true" class="mt-5" *ngIf="shoppingCartSell$ | async as productList" >
    <app-warenkorb-details [productList]="productList" (remove$)="removeFromShoppingCartSell($event)"></app-warenkorb-details>
  </p-fieldset>
</div>

