<h1>Datenschutzerklärung</h1>

<div class="container">
  <p-card>
    <h2>Allgemeiner Hinweis</h2>
    <p>Gest&uuml;tzt auf Artikel 13 der schweizerischen Bundesverfassung und den datenschutzrechtlichen Bestimmungen des
      Bundes (Datenschutzgesetz, DSG<!--DSG--> ) hat jede Person Anspruch auf Schutz ihrer Privatsph&auml;re sowie auf
      Schutz vor Missbrauch ihrer pers&ouml;nlichen Daten. Die Betreiber dieser Seiten nehmen den Schutz Ihrer pers&ouml;nlichen
      Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen
      Datenschutzvorschriften sowie dieser Datenschutzerkl&auml;rung.</p>
    <p>In Zusammenarbeit mit unseren Hosting-Providern bem&uuml;hen wir uns, die Datenbanken so gut wie m&ouml;glich vor
      fremden Zugriffen, Verlusten, Missbrauch oder vor F&auml;lschung zu sch&uuml;tzen.</p>
    <p>Wir weisen darauf hin, dass die Daten&uuml;bertragung im Internet (z.B. bei der Kommunikation per E-Mail)
      Sicherheitsl&uuml;cken aufweisen kann. Ein l&uuml;ckenloser Schutz der Daten vor dem Zugriff durch Dritte ist
      nicht
      m&ouml;glich.</p>
    <p>Durch die Nutzung dieser Website erkl&auml;ren Sie sich mit der Erhebung, Verarbeitung und Nutzung von Daten gem&auml;ss
      der nachfolgenden Beschreibung einverstanden. Diese Website kann grunds&auml;tzlich ohne Registrierung besucht
      werden.
      Dabei werden Daten wie beispielsweise aufgerufene Seiten bzw. Namen der abgerufenen Datei, Datum und Uhrzeit zu
      statistischen Zwecken auf dem Server gespeichert, ohne dass diese Daten unmittelbar auf Ihre Person bezogen
      werden.
      Personenbezogene Daten, insbesondere Name, Adresse oder E-Mail-Adresse werden soweit m&ouml;glich auf freiwilliger
      Basis erhoben. Ohne Ihre Einwilligung erfolgt keine Weitergabe der Daten an Dritte.</p>
    <p>&nbsp;</p>
    <h2>
      Datenschutzerkl&auml;rung f&uuml;r SSL-/TLS-Verschl&uuml;sselung</h2>
    <p>Diese Website nutzt aus Gr&uuml;nden der
      Sicherheit und zum Schutz der &Uuml;bertragung vertraulicher Inhalte, wie zum Beispiel der Anfragen, die Sie an
      uns
      als Seitenbetreiber senden, eine SSL-/TLS-Verschl&uuml;sselung. Eine verschl&uuml;sselte Verbindung erkennen Sie
      daran, dass die Adresszeile des Browsers von &quot;http://&quot; auf &quot;https://&quot; wechselt und an dem
      Schloss-Symbol in Ihrer Browserzeile.</p>
    <p>Wenn die SSL bzw. TLS Verschl&uuml;sselung aktiviert ist, k&ouml;nnen die
      Daten, die Sie an uns &uuml;bermitteln, nicht von Dritten mitgelesen werden.</p>
    <p>&nbsp;</p>
    <h2>Daten&uuml;bertragungssicherheit
      (ohne SSL)</h2>
    <p>Bitte beachten Sie, dass Daten, die &uuml;ber ein offenes Netz wie das Internet oder einen
      E-Mail-Dienst ohne SSL-Verschl&uuml;sselung &uuml;bermittelt werden, f&uuml;r jedermann einsehbar sind. Eine
      unverschl&uuml;sselte
      Verbindung erkennen Sie daran, dass die Adresszeile des Browsers &quot;http://&quot; anzeigt und kein
      Schloss-Symbol
      in Ihrer Browserzeile angezeigt wird. Informationen die &uuml;ber das Internet &uuml;bertragen werden und online
      empfangene Inhalte, k&ouml;nnen unter Umst&auml;nden &uuml;ber Netze von Drittanbietern &uuml;bermittelt werden.
      Wir
      k&ouml;nnen
      die Vertraulichkeit von Mitteilungen oder Unterlagen, die &uuml;ber solche offenen Netze oder Netze von
      Drittanbietern
      &uuml;bermittelt werden, nicht garantieren.</p>
    <p>Wenn Sie &uuml;ber ein offenes Netz oder Netze von Drittanbietern
      personenbezogene Informationen bekannt geben, sollten Sie sich der Tatsache bewusst sein, dass Ihre Daten verloren
      gehen oder Dritte potenziell auf diese Informationen zugreifen und folglich die Daten ohne Ihre Zustimmung sammeln
      und
      nutzen k&ouml;nnen. Zwar werden in vielen F&auml;llen die einzelnen Datenpakete verschl&uuml;sselt &uuml;bermittelt,
      nicht aber die Namen des Absenders und des Empf&auml;ngers. Selbst wenn der Absender und der Empf&auml;nger im
      gleichen Land wohnen, erfolgt die Daten&uuml;bermittlung &uuml;ber solche Netze h&auml;ufig und ohne Kontrollen
      auch
      &uuml;ber Drittstaaten, d.h. auch &uuml;ber L&auml;nder, die nicht das gleiche Datenschutzniveau bieten wie Ihr
      Domizilland. Wir &uuml;bernehmen f&uuml;r die Sicherheit Ihrer Daten w&auml;hrend der &Uuml;bermittlung &uuml;ber
      das
      Internet keine Verantwortung und lehnen jede Haftung f&uuml;r mittelbare und unmittelbare Verluste ab. Wir bitten
      Sie,
      andere Kommunikationsmittel zu benutzen, sollten Sie dies aus Gr&uuml;nden der Sicherheit f&uuml;r notwendig oder
      vern&uuml;nftig
      erachten.</p>
    <p>Trotz umfangreicher technischer und organisatorischer Sicherungsvorkehrungen, k&ouml;nnen m&ouml;glicherweise
      Daten verloren gehen oder von Unbefugten abgefangen und/oder manipuliert werden. Wir treffen soweit m&ouml;glich
      geeignete technische und organisatorische Sicherheitsmassnahmen, um dies innerhalb unseres Systems zu verhindern.
      Ihr
      Computer befindet sich indessen ausserhalb des von uns kontrollierbaren Sicherheitsbereichs. Es obliegt Ihnen als
      Benutzer, sich &uuml;ber die erforderlichen Sicherheitsvorkehrungen zu informieren und diesbez&uuml;glich
      geeignete
      Massnahmen zu treffen. Als Website-Betreiber haften wir keinesfalls f&uuml;r Sch&auml;den, die Ihnen aus
      Datenverlust
      oder -manipulation entstehen k&ouml;nnen.</p>
    <p>Daten welche Sie in Online-Formularen angeben, k&ouml;nnen zwecks
      Auftragsabwicklung an beauftragte Dritte weitergegeben und von diesen eingesehen und allenfalls bearbeitet
      werden.</p>
    <p>&nbsp;</p>
    <h2>Hinweis zur Datenweitergabe in die USA</h2>
    <p>Auf unserer Website sind unter anderem Tools von
      Unternehmen mit Sitz in den USA eingebunden. Wenn diese Tools aktiv sind, k&ouml;nnen Ihre personenbezogenen Daten
      an
      die US-Server der jeweiligen Unternehmen weitergegeben werden. Wir weisen darauf hin, dass die USA kein sicherer
      Drittstaat im Sinne des EU-Datenschutzrechts sind. US-Unternehmen sind dazu verpflichtet, personenbezogene Daten
      an
      Sicherheitsbeh&ouml;rden herauszugeben, ohne dass Sie als Betroffener hiergegen gerichtlich vorgehen k&ouml;nnten.
      Es
      kann daher nicht ausgeschlossen werden, dass US-Beh&ouml;rden (z.B. Geheimdienste) Ihre auf US-Servern
      befindlichen
      Daten zu &uuml;berwachungszwecken verarbeiten, auswerten und dauerhaft speichern. Wir haben auf diese
      Verarbeitungst&auml;tigkeiten
      keinen Einfluss.</p>
    <p>&nbsp;</p>
    <h2>&Auml;nderungen</h2>
    <p>Wir k&ouml;nnen diese Datenschutzerkl&auml;rung jederzeit
      ohne Vorank&uuml;ndigung anpassen. Es gilt die jeweils aktuelle, auf unserer Website publizierte Fassung. Soweit
      die
      Datenschutzerkl&auml;rung Teil einer Vereinbarung mit Ihnen ist, werden wir Sie im Falle einer Aktualisierung über
      die
      &Auml;nderung per E-Mail oder auf andere geeignete Weise informieren.</p>
    <p>&nbsp;</p>

  </p-card>

  <br>
  <br>


  <p-card>
    <h2>Fragen an den
      Datenschutzbeauftragten</h2>
    <p>Wenn Sie Fragen zum Datenschutz haben, schreiben Sie uns bitte eine E-Mail oder wenden
      Sie sich direkt an die f&uuml;r den Datenschutz zu Beginn der Datenschutzerkl&auml;rung aufgef&uuml;hrten,
      verantwortlichen Person in unserer Organisation.</p>
    <p>&nbsp;</p>
    <p>Attikon, 04.06.2021
      <!--ACHTUNG: Wenn Sie die Quelle ohne Erlaubnis von SwissAnwalt entfernen, dann begehen Sie eine Urheberrechtsverletzung welche in jedem Fall unter Kostenfolge geahndet wird.-->
      <br/>
      Quelle: <a href="https://www.swissanwalt.ch" target="_blank" rel="noopener">SwissAnwalt</a>
    </p>
    <!--Bitte beachten Sie die AGB von SwissAnwalt betreffend allfällig anfallenden Kosten bei Weglassen der Quelle!-->

    <p>Verantwortliche Stelle im Sinne der Datenschutzgesetze, insbesondere der EU-Datenschutzgrundverordnung (DSGVO),
      ist:</p>
    <br/>
    <p>Yves Ruosch<br/>
      Menzengrüterstrasse 9<br/>
      8544 Attikon</p>
    <a href="mailto:register@ruosch.me">E-Mail</a>
    <p>&nbsp;</p>

  </p-card>

</div>
