<h2>Verpacken</h2>

<ng-container *ngIf="formGroup">
  <div class="formgrid grid mt-5 p-fluid">
    <div class="field col-12 md:col-6 xl:col-2">
      <label for="ga">Gezählter Auftragswert</label>
      <h4 id="ga" class="m-0">{{countTotal | currency:'CHF'}}</h4>
    </div>

    <div class="field col-12 md:col-6 xl:col-2">
      <label for="bearbeitung">In Bearbeitung</label>
      <h4 id="bearbeitung" class="m-0">{{auftrag.inBearbeitung ? 'Ja' : 'Nein'}}</h4>
    </div>

    <div class="field col-12 md:col-6 xl:col-2 mt-3">
      <span class="p-float-label">
        <p-dropdown [formControl]="status" id=status [options]="statusListOptions" optionLabel="name"></p-dropdown>
        <label for="status">Status</label>
      </span>
    </div>

    <div class="field col-12 md:col-6 xl:col-3 mt-3">
      <span class="p-float-label">
        <p-dropdown id="bearbeiter" [formControl]="bearbeiter" [options]="bearbeiterOptions"
                    optionLabel="name"></p-dropdown>
        <label for="bearbeiter">Bearbeiter</label>
      </span>
    </div>

    <div class="field col-12 md:col-6 xl:col-2 mt-3">
      <span class="p-float-label">
        <p-dropdown appendTo="body"
                    [formControl]="pallet"
                    id=pallet
                    placeholder="In Pallet wählen"
                    [options]="bezeichnungPalletOptions"
                    optionLabel="name"></p-dropdown>
        <label for="pallet">Pallet</label>
      </span>

      <app-input-error-message *ngIf="pallet.touched && pallet.invalid">
        Bitte auswählen
      </app-input-error-message>
    </div>
  </div>

  <h4>Auftragsdetails</h4>

  <p-table [value]="auftragList">
    <ng-template pTemplate="header">
      <tr>
        <th>Einheit</th>
        <th>Kategorie</th>
        <th>Anzahl gemäss Auftrag</th>
        <th>Gezählte Anzahl</th>
        <th>Bag</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr *ngIf="(mobile$ | async) === false; else mobile">
        <td>{{product.produkt}}</td>
        <td>{{product.kategorie}}</td>
        <td>{{product.anzahl | number}}</td>
        <td>
          <p-inputNumber (focusout)="setCountedTotal()" [formControl]="getForm(product)"
                         inputId="gezaehlteAnzahl"></p-inputNumber>
          <app-input-error-message *ngIf="getForm(product).touched && getForm(product).invalid">
            Muss abgefüllt sein
          </app-input-error-message>
        </td>
        <td>{{product.bag}}</td>
      </tr>

      <ng-template #mobile>
        <tr>
          <td>
            <div>
              <p class="label m-0">Einheit</p>
              {{product.produkt}}
            </div>
          </td>
          <td>
            <div>
              <p class="label m-0">Kategorie</p>
              {{product.kategorie}}
            </div>
          </td>
          <td>
            <div>
              <p class="label m-0">Anzahl gemäss Auftrag</p>
              {{product.anzahl | number}}
            </div>
          </td>
          <td>
            <span class="p-float-label mt-2">
              <p-inputNumber (focusout)="setCountedTotal()" [formControl]="getForm(product)"
                             id="gezaehlteAnzahl"></p-inputNumber>
              <label for="gezaehlteAnzahl">Gezählte Anzahl</label>
              <app-input-error-message *ngIf="getForm(product).touched && getForm(product).invalid">
                Muss abgefüllt sein
              </app-input-error-message>
            </span>
          </td>
          <td class="pt-2">
            <div>
              <p class="label m-0">Bag</p>
              {{product.bag}}
            </div>
          </td>
        </tr>
      </ng-template>
    </ng-template>
  </p-table>

  <div class="bemerkung">
    <span class="p-float-label">
      <textarea [formControl]="bemerkung" id="bemerkung" rows="5" pInputTextarea [autoResize]=true></textarea>
      <label for="bemerkung">Abweichungsbegründung</label>
    </span>
    <app-input-error-message *ngIf="formGroup.valid && (countTotal !== total && !bemerkung.value)">
      Gezählter Auftragwert stimmt nicht mit Auftragswert überein. Bitte begründen!
    </app-input-error-message>
  </div>

  <div class="mt-2">
    <button *ngIf="countTotal !== total && this.bemerkung.value"
            pButton
            pRipple
            type="button"
            class="mr-4 p-button-danger"
            label="Auftrag zurückweisen"
            (click)="back()"></button>
  </div>

  <div class="action mt-5">
    <button pButton
            pRipple
            type="button"
            class="mr-4 p-button-secondary"
            label="Abbrechen"
            (click)="cancel()"
            [disabled]="formGroup.pristine || !formGroup.touched"
            icon="pi pi-times" iconPos="left"></button>
    <button pButton
            pRipple
            type="button"
            label="Speichern"
            (click)="save()"
            [disabled]="formGroup.invalid && !auftrag.inBearbeitung || formGroup.pristine || canClose()"
            icon="pi pi-save" iconPos="left"></button>
  </div>
</ng-container>
