:host {
  input {
    min-width: 20rem;
  }

  @media screen and (max-width:720px) {
    input {
      min-width: auto;
    }
  }
}

.result {
  cursor: pointer;

  h5 {
    display: flex;
    flex-wrap: nowrap;
    word-break: break-word;

    i {
      margin-left: 0.25rem;
    }
  }
}



