.list {
  max-height: 40rem;
  overflow: auto;
  padding-right: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid;
  }
}
