:host {
  display: flex;
  height: 10rem;
  margin-top: 5rem;
  justify-content: space-between;
  align-items: center;
  background-color: #151515;
  color: var(--surface-d);
  box-shadow: rgb(94, 122, 135) 0 0 0 3px, rgb(102, 154, 57) 0 0 0 6px, rgb(237, 186, 47) 0 0 0 9px, rgb(203, 47, 48) 0 0 0 12px, rgb(255, 85, 85) 0 0 0 15px;

  .menus {
    list-style: none;
    display: flex;

    li {
      margin: 1rem;
      padding: 0;
    }
  }

  .version {
    display: flex;
    flex-direction: column;
  }
}
