:host {
  display: flex;
  height: 10rem;
  justify-content: space-between;
  align-items: center;
  background-color: #151515;
  color: var(--surface-d);
  box-shadow: rgb(85, 91, 255) 0 0 0 3px, rgb(31, 193, 27) 0 0 0 6px, rgb(255, 217, 19) 0 0 0 9px, rgb(255, 156, 85) 0 0 0 12px, rgb(255, 85, 85) 0 0 0 15px;

  .menus {
    list-style: none;
    display: flex;

    li {
      margin: 1rem;
    }
  }
}
