<ng-container *ngIf="(mobile$ | async) === false; else mobile">
  <ul class="menus">
    <li>
      <button [routerLink]="'home'" pButton type="button" label="Home"
              class="p-button-text p-button-secondary p-button-rounded"></button>
    </li>
    <li>
      <button [routerLink]="'impressum'" pButton type="button" label="Impressum"
              class="p-button-text p-button-secondary p-button-rounded"></button>
    </li>
    <li>
      <button [routerLink]="'dsgvo'" pButton type="button" label="Datenschutz"
              class="p-button-text p-button-secondary p-button-rounded"></button>
    </li>
    <li>
      <button [routerLink]="'kontakt'" pButton type="button" label="Kontakt"
              class="p-button-text p-button-secondary p-button-rounded"></button>
    </li>
    <li>
      <button *ngIf="user$ | async" [routerLink]="'anmelden'" pButton type="button" label="Abmelden"
              (click)="abmelden()"
              class="p-button-text p-button-secondary p-button-rounded"></button>
    </li>
  </ul>

  <div class="mr-4 version">
    <small>&copy;{{currentDate | date:'yyyy'}} FFHS v{{version.versionLong}}</small>
  </div>
</ng-container>

<ng-template #mobile>
  <div class="menu">
    <div>
      <button [routerLink]="'home'" pButton type="button" label="Home"
              class="p-button-text p-button-secondary p-button-rounded"></button>
    </div>
    <div>
      <button [routerLink]="'impressum'" pButton type="button" label="Impressum"
              class="p-button-text p-button-secondary p-button-rounded"></button>
    </div>
    <div>
      <button [routerLink]="'dsgvo'" pButton type="button" label="Datenschutz"
              class="p-button-text p-button-secondary p-button-rounded"></button>
    </div>
    <div>
      <button [routerLink]="'kontakt'" pButton type="button" label="Kontakt"
              class="p-button-text p-button-secondary p-button-rounded"></button>
    </div>
    <div>
      <button *ngIf="user$ | async; else anmelden" [routerLink]="'anmelden'" pButton type="button" label="Abmelden"
              (click)="abmelden()"
              class="p-button-text p-button-secondary p-button-rounded"></button>
    </div>
    <ng-template #anmelden>
      <button [routerLink]="'anmelden'" pButton type="button" label="Anmelden"
              class="p-button-text p-button-secondary p-button-rounded"></button>
    </ng-template>
    <div class="version mt-5">
      <small>&copy;{{currentDate | date:'yyyy'}} FFHS v{{version.versionLong}}</small>
    </div>
  </div>

</ng-template>


