<div class="layout-container" id="top-anchor">
  <app-header></app-header>
  <app-menu *ngIf="(mobile$ | async) === false; else mobile"></app-menu>

  <ng-template #mobile>
    <div class="menu-search">
      <div class="p-fluid grid">
        <div class="col-10">
          <app-search></app-search>
        </div>

        <div class="col-1">
          <app-menu></app-menu>
        </div>
      </div>
    </div>
  </ng-template>

  <div class="content-wrapper">
    <main id="content-anchor">
      <ng-content></ng-content>
    </main>

    <div>
      <app-jump></app-jump>
      <app-footer></app-footer>
    </div>

  </div>
</div>

<p-toast [baseZIndex]="99999"></p-toast>



