.layout-container {
  display: grid;
  min-height: 100%;
  grid-auto-flow: column;
  grid-template-areas:
      'header header header'
      'menu menu menu'
      'content content content';
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;

  app-header {
    grid-area: header;
  }

  app-menu {
    grid-area: menu;
  }

  .content-wrapper {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    main {
      display: grid;
      grid-template-columns: 0.5fr 5fr 0.5fr;
    }

    app-footer {
      bottom: 0;
    }
  }
}


@media screen and (max-width:720px) {
  .layout-container {
    grid-template-areas:
      'header header header'
      'menu-search menu-search menu-search'
      'content content content';

    .menu-search {
      grid-area: menu-search;
      margin-left: 1rem;
      margin-top: 1rem;
    }

    .content-wrapper {
      main {
        grid-template-columns: 0.25fr 5fr 0.25fr;
      }
    }
  }
}
