<ng-container *ngIf="(user$ | async) !== undefined; else nonLoginMenu">
  <p-menubar *ngIf="(mobile$ | async) === false; else mobile" [model]="items"></p-menubar>
</ng-container>
<ng-template #nonLoginMenu>
  <p-menubar *ngIf="(mobile$ | async) === false; else mobile" [model]="itemsWithoutLogin"></p-menubar>
</ng-template>

<ng-template #mobile>
  <button type="button" class="p-button-secondary" pButton pRipple icon="pi pi-bars"
          (click)="menu.toggle($event)"></button>
  <p-menu [style]="{'width':'100%'}" [appendTo]="'body'" #menu [model]="items" [popup]="true"></p-menu>
</ng-template>
