<h1>Wareneingang</h1>

<p-card>
  <div class="header">
      <span class="p-input-icon-right mr-5 search">
    <i class="pi pi-search"></i>
    <p-inputNumber inputId="auftragId"
                   placeholder="Auftrag ID"
                   [formControl]="suche"
                   (onInput)="openAuftrag($event.value)"></p-inputNumber>
  </span>
    <div>
      <button *ngIf="auftrag"
              pButton
              pRipple
              pTooltip="PDF generieren"
              type="button"
              class="mr-2"
              icon="pi pi-file-pdf" iconPos="left"></button>
      <button *ngIf="auftrag"
              pButton
              pRipple
              pTooltip="Zurück zur Auftragsliste"
              type="button"
              [routerLink]="'/auftragsverwaltung/auftragsliste'"
              icon="pi pi-arrow-left" iconPos="left"></button>
    </div>
  </div>

  <div *ngIf="auftrag; else empty">
    <app-auftragsliste-details [auftrag]="auftrag"></app-auftragsliste-details>

    <div class="mt-4">
      <p-accordion [multiple]="true">
        <p-accordionTab [(selected)]="activeState[0]">
          <ng-template pTemplate="header">
            <ng-container *ngIf="!activeState[0]">Grobkontrolle</ng-container>
          </ng-template>
          <app-grobkontrolle [data]="auftrag" (save$)="save($event)"></app-grobkontrolle>
        </p-accordionTab>

        <p-accordionTab [(selected)]="activeState[1]">
          <ng-template pTemplate="header">
            <ng-container *ngIf="!activeState[1]">Feinkontrolle</ng-container>
          </ng-template>
          <app-feinkontrolle [data]="auftrag" (save$)="save($event)"></app-feinkontrolle>
        </p-accordionTab>

        <p-accordionTab [(selected)]="activeState[2]">
          <ng-template pTemplate="header">
            <ng-container *ngIf="!activeState[2]">Einlagerung</ng-container>
          </ng-template>
          <app-einlagerung [data]="auftrag" (save$)="save($event)"></app-einlagerung>
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>

  <ng-template #empty>
    <div *ngIf="suche.touched">
      <h3>Kein Auftrag mit gesuchter ID gefunden!</h3>
    </div>
  </ng-template>
</p-card>
