/* You can add global styles to this file, and also import other style files */

body {
  background-color: var(--surface-a);
  font-family: var(--font-family);
}

html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  transition: background-color 200ms, color 200ms, border-color 200ms, box-shadow 200ms;
}

// Menu
.p-menubar {
  background-color: var(--surface-a);
  border-radius: 0;
  border: 0;
}

// Einkaufen
.p-tabview-nav, .p-tabview .p-tabview-nav li {
  padding: 3px 0 0 3px;
}
